/* shared style */
body {
    /* font */
font-family: "Open Sans", sans-serif;
  /* font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100; */

}

.text-style-primary {
    color: #FD6E0A;
}

.btn-style-primary {
    color: #FD6E0A;
}