/* shared style */
body {
    /* font */
font-family: "Open Sans", sans-serif;
  /* font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100; */

}

.text-style-primary {
    color: #FD6E0A;
}

.btn-style-primary {
    color: #FD6E0A;
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 10s linear infinite; /* Adjust '3s' to control the animation speed */
}

/* Custom class to apply square bullets */
.list-square {
  list-style-type: square;
}
